# Ignora a pasta de cache do Python
__pycache__/

# Ignora arquivos compilados Python
*.py[cod]
*$py.class

# Ignora arquivos de ambiente virtual (caso use)
venv/
.env/

# Ignora arquivos temporários de sistema operacional
.DS_Store
Thumbs.db

# Ignora arquivos do VS Code (se estiver usando)
.vscode/
